@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-body: "JetBrains Mono", monospace;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-caption: var(--caption);
  --color-danger: var(--danger);
  --color-brand: var(--brand);
  --color-brand-accent: var(--brand-accent);
  --color-btn-text: var(--btn-text);
  --color-surface: var(--surface);

  --color-cerulean-blue-50: oklch(0.9675 0.0124 271.29);
  --color-cerulean-blue-100: oklch(0.9276 0.0272 267.53);
  --color-cerulean-blue-200: oklch(0.8706 0.0509 268.1);
  --color-cerulean-blue-500: oklch(0.5794 0.1799 268.35);
  --color-cerulean-blue-600: oklch(0.4976 0.2075 269.32);
  --color-cerulean-blue-800: oklch(0.3972 0.1701 272.48);
  --color-cerulean-blue-900: oklch(0.3569 0.1305 273.35);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.2554 0.0037 106.66);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --caption: oklch(0.2554 0.0037 106.66);
  --danger: oklch(0.6325 0.2125 15.36);
  --brand: oklch(0.4976 0.2075 269.32);
  --brand-accent: oklch(0.7447 0.1706 56.29);
  --btn-text: oklch(0.8997 0.0076 260.73);
  --surface: oklch(0.2756 0.0047 248);
}

.dark {
  --background: oklch(0.2555 0.0024 247.92);
  --foreground: oklch(1 0 0 / 87%);
  --card: oklch(0.2969 0.0039 264.51);
  --card-foreground: oklch(1 0 0 / 87%);
  --popover: oklch(0.2969 0.0039 264.51);
  --popover-foreground: oklch(1 0 0 / 87%);
  --primary: oklch(96.948% 0.00465 258.633);
  --primary-foreground: oklch(0.2969 0.0039 264.51);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(1 0 0 / 87%);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(1 0 0 / 87%);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.2969 0.0039 264.51);
  --sidebar-foreground: oklch(1 0 0 / 87%);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(1 0 0 / 87%);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(1 0 0 / 87%);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --caption: oklch(0.6355 0.0069 255.5);
  --brand: oklch(0.4976 0.2075 269.32);
  --btn-text: oklch(0.8997 0.0076 260.73);
  --surface: oklch(0.2756 0.0047 248);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply text-foreground font-body bg-[#E7E7E3] dark:bg-background;
  }
}

@layer components {
  .img-radial {
    @apply bg-radial from-gray-100 to-[#D2D2D2] to-60%;
  }
  .tab {
    @apply border border-primary whitespace-nowrap rounded-md text-sm font-medium bg-background shadow-xs;
  }
  .tab-display {
    @apply hidden sm:grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-6 w-full;
  }
  .text-subtitle {
    @apply text-lg tracking-tight font-bold leading-[110%] capitalize;
  }
  .p-subtitle {
    @apply pt-5 pb-4;
  }
  .img-transition {
    @apply group-hover:-translate-y-3 group-hover:scale-105 transition delay-150 duration-700 ease-in-out;
  }
  .rojo {
    @apply bg-red-400;
  }
  .blanco {
    @apply bg-neutral-50;
  }
  .azul {
    @apply bg-blue-400;
  }
  .gris {
    @apply bg-gray-400;
  }
  .rosa {
    @apply bg-rose-400;
  }
  .verde {
    @apply bg-green-300;
  }
}
